body {
	width: 80%;
	margin: auto;
}

p {
	text-align: justify;
}

.komentar {
	text-align: justify;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px 0;
	background-color: aliceblue;
}

.chyba {
	color: red;
	padding: 10px;
	border: 1px solid red;
	margin: 10px 0;
}
